[submodule "src/oled-driver"]
	path = src/oled_display/oled-driver
	url = https://github.com/MG-5/oled-driver.git
[submodule "core"]
	path = core
	url = ../../MG-5/core.git
	branch = main
[submodule "util"]
	path = src/util
	url = ../../MG-5/util.git
	branch = stm32
