[submodule "core"]
	path = core
	url = ../../MG-5/core.git
	branch = main
[submodule "util"]
	path = src/util
	url = ../../MG-5/util.git
	branch = stm32
[submodule "ssd-display-driver"]
	path = src/oled_display/ssd-display-driver
	url = ../../MG-5/ssd-display-driver.git
	branch = main
